.headerName{
    font-size: 30px;
    padding-top: 10px;
}
.navbar-right{
    margin-right: 30px;
}
.body-container{
    padding-left: 30%;
    background: lightgray;
}
.image{
    width: 40%;
    margin: auto;
}
img{
    height: 300px;
    width: 300px;   
}
.aboutHead{
    text-align: center;
    font-size: 80px;
}
.row{
    padding-left: 300px
}
.portfolio{
    text-align: center;
}
.about{
    text-align: center;
}
.aboutP{
    display: inline-block;
    width: 33%;
    padding: 25px;
    margin-bottom: 20px;
 
}
.footer{
    text-align: center;
    background-color: skyblue;
}
.contact{
    margin-left: 80px;
    margin-bottom: 20px;
}
#formHeader{
    text-align: center;
}
.list-inline{
    text-align: center;
    background: rgb(239, 241, 244);
    margin-top: 20px;
}
.major{
    height: 150px;
    width: 100%;
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 10px;
    font-style: italic;
}
.quoteLine{
    width: 1200px;
    border: .5px solid rgb(28, 171, 223);
}