.headerName{
    font-size: 30px;
    padding-top: 10px;
}
.navbar-right{
    margin-right: 30px;
}
.body-container{
    padding-left: 40px;
    padding-right: 40px;
}

img{
    height: 400px;
    width: 400px;   
}
.row{
    padding-left: 300px
}
.portfolio{
    text-align: center;
}
.about{
    text-align: center;
}
.aboutP{
    display: inline-block;
    width: 33%;
    padding: 25px;
    margin-bottom: 20px;
 
}
.footer{
    text-align: center;
    background-color: skyblue;
}
.contact{
    margin-left: 80px;
    margin-bottom: 20px;
}